DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

FOX_DB_ADMIN_USERNAME=
FOX_DB_ADMIN_PASSWORD=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_DISPLAY_NAME=

JWT_SECRET=
JWT_ACCESS_EXPIRATION_MINUTES=
JWT_REFRESH_EXPIRATION_DAYS=

APP_PORT=
APP_BASE_URL=
SHORT_URL_BASE_URL=

COOKIE_SECURE=
FORWARDED_PROTO_HEADER=
FORWARDED_HOST_HEADER=
FORWARDED_PORT_HEADER=
