DB_HOST=localhost
DB_PORT=5432
DB_NAME=fox_url_shortener
DB_USERNAME=fox
DB_PASSWORD=change_me

FOX_DB_ADMIN_USERNAME=
FOX_DB_ADMIN_PASSWORD=

ADMIN_LOGIN=admin
ADMIN_PASSWORD=change_me
ADMIN_DISPLAY_NAME=FoX Admin

JWT_SECRET=change_me_to_long_secret_change_me_to_long_secret
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=30

APP_PORT=3396
APP_BASE_URL=http://localhost:3396
SHORT_URL_BASE_URL=http://localhost:3396

COOKIE_ACCESS_TOKEN_NAME=fox_access_token
COOKIE_REFRESH_TOKEN_NAME=fox_refresh_token
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax
COOKIE_DOMAIN=
CORS_ALLOWED_ORIGINS=http://localhost:3395,http://localhost:5173

FORWARDED_PROTO_HEADER=X-Forwarded-Proto
FORWARDED_HOST_HEADER=X-Forwarded-Host
FORWARDED_PORT_HEADER=X-Forwarded-Port
